<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>카카오 로그인 JS DEMO</title>
    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
    <!-- <%= htmlWebpackPlugin.tags.headTags.filter((tag) => tag.tagName === 'link').join('') %> -->
  </head>
  <body>
    <!-- <%= htmlWebpackPlugin.tags.headTags.filter((tag) => { return tag.tagName === 'script' }).join('') %> -->
    <main>
      <h1 class="mt-10 text-3xl text-bold text-center">카카오 로그인 JS DEMO</h1>
      <div class="py-16 w-88 m-auto flex justify-center">
	<a class="kakao-login-btn" href="javascript:Lib.KakaoAuthorize()">
      </div>
    </main>
  </body>
</html>
